body {
  font-family: Arial;
  background: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(243, 242, 242);
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
  margin: 9px ;
  background: #c9c9c9;
  border-radius: 7px;

}

button {
  width: 60%;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  corner-end-end-shape: initial;
  border-radius: 10px;
}

button:hover {
  background: darkgreen;
}

p {
  margin-top: 10px;
  color: red;
}